* {
    font-family: 'roboto', sans-serif;
}

body {
    margin: 0;
    background: #ecf0f1;
}

#nav {
    background-color: #2c3e50;
    color: white;
    padding: 15px;
    text-align: center;
}

#year {
    margin-top: 5px;
    margin-bottom: 15px;
}

#nav p {
    margin: 4px;
}

#nav h2 {
    margin: 0;
    font-size: 1.5em;
}

#nav input {
    margin-left: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body.container {
    display: flex;
    justify-content: center;
}

.bg-custom {
    background-color: #0091EA;
}

.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tooltip {
    opacity: 0;
    position: absolute;
    pointer-events: none;
    border: 1px solid lightgray;
    background-color: white;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.tooltip p {
    margin: 2px;
}

.tooltip:after {
    content: ' ';
    position: absolute;
    left: 50%;
    border: 8px solid transparent;
    border-top-color: #2c3e50;
    bottom: -20px;
    margin-left: -4px;
}

.small {
    transform: scale(0.8);
}

.country {
    stroke: none;
}

.country:hover {
    cursor: pointer;
}

.country.active {
    stroke: #2c3e50;
    stroke-width: 2px;
}

.y-axis-label {
    font-size: 0.8em;
}

.tick text {
    font-size: 1.5em;
}

.hr-custom {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
}

.wenjun {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 160px;
    height: 10px;
    margin: 10px 50px;
    background: white;
    background-size: 150px 10px;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    outline: none;
    zoom: 130%;
    display: block;
    margin: auto;
    margin-bottom: 30px;
    cursor: pointer;
    border-radius: 5px;
    overflow: visible;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: #E3F2FD;
    position: relative;
    z-index: 3;
    border-radius: 50px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

input[type="range"]::-webkit-slider-thumb:after {
    content: " ";
    width: 160px;
    height: 10px;
    position: absolute;
    z-index: 1;
    right: 20px;
    top: 5px;
    background: #032078;
}
